# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.py[cod]
__pycache__
db.sqlite3

# Django media and static
/media
/static

# Virtual environment
venv/
env/
*.env
*.venv

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Linux system files
*~